body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.article {
  width: 320px;
  margin-bottom: 32px;
}
.article-text {
  color: #f26419;
}
