body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.article {
  width: 320px;
  margin-bottom: 32px;
}
.article-text {
  color: #f26419;
}

/* ****************************** */

#parent,
#child,
#inner-child {
  margin: 1rem;
  padding: 16px;
  outline: 1px solid #ffc107;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}

#parent {
  background-color: #673ab7;
}

#child {
  background-color: #448aff;
}

#inner-child {
  background-color: #009688;
}
/* **************************** */
